<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./homepage-v2.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600;700&display=swap"
    />
  </head>
  <body>
    <div class="homepage-v2">
      <button class="buttons4"><b class="start-now7">Load more</b></button>
      <div class="service">
        <div class="rectangle-parent1">
          <img
            class="frame-child4"
            alt=""
            src="./public/rectangle-12708@2x.png"
          />
          <div class="frame-parent11">
            <div class="cool-feature-title-wrapper">
              <div class="cool-feature-title6">Even cooler feature</div>
            </div>
            <div class="frame-parent12">
              <div class="explore-page-parent">
                <b class="explore-page">Explore page</b
                ><img
                  class="arrow-right-icon"
                  alt=""
                  src="./public/arrowright.svg"
                />
              </div>
              <div class="frame-child5"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="service1">
        <div class="rectangle-parent1">
          <textarea class="rectangle-textarea"></textarea>
          <div class="frame-parent11">
            <div class="cool-feature-title-wrapper">
              <div class="cool-feature-title6">Cool feature title</div>
            </div>
            <div class="frame-parent12">
              <div class="explore-page-parent">
                <b class="explore-page">Explore page</b
                ><img
                  class="arrow-right-icon"
                  alt=""
                  src="./public/arrowright.svg"
                />
              </div>
              <div class="frame-child5"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="homepage-v2-child"></div>
      <div class="heading12">
        <div class="our-blog13">featuring books</div>
        <div class="value-proposition-accelerator12">Bestseller</div>
      </div>
      <div class="reviews-parent">
        <div class="reviews">Reviews</div>
        <div class="testimonial">
          <div class="buyer-buzz-partner">
            “Buyer buzz partner network disruptive non-disclosure agreement
            business”
          </div>
          <div class="author">
            <b class="albus-dumbledore">Albus Dumbledore</b>
            <div class="manager-howarts">Manager @ Howarts</div>
            <img class="author-child" alt="" src="./public/ellipse-4@2x.png" />
          </div>
        </div>
        <div class="testimonial1">
          <div class="buyer-buzz-partner">
            “Release facebook responsive web design business model canvas seed
            money monetization.”
          </div>
          <div class="author">
            <b class="albus-dumbledore">Harry Potter</b>
            <div class="manager-howarts">Team Leader @ Gryffindor</div>
            <img class="author-child" alt="" src="./public/ellipse-41@2x.png" />
          </div>
        </div>
        <div class="testimonial2">
          <div class="buyer-buzz-partner">
            “Learning curve infrastructure value proposition advisor strategy
            user experience hypotheses investor.”
          </div>
          <div class="author">
            <b class="albus-dumbledore">Severus Snape</b>
            <div class="manager-howarts">Manager @ Slytherin</div>
            <img class="author-child" alt="" src="./public/ellipse-42@2x.png" />
          </div>
        </div>
        <img class="group-icon" alt="" src="./public/group-234.svg" />
      </div>
      <div class="ellipse-parent5">
        <img class="frame-child7" alt="" src="./public/ellipse-9.svg" />
        <div class="frame-parent15">
          <div class="buttons-parent">
            <div class="buttons5"><b class="start-now8">Buy books</b></div>
            <div class="buttons6"><b class="start-now8">Discuss</b></div>
            <div class="books2">Books</div>
            <div class="this-is-a">
              This is a book that will make you happy. Many famous writers
              recommended it. You will read this book laughing, may you have a
              good mood every day.
            </div>
            <div class="boldo-webflow-template">Boldo Webflow Template</div>
          </div>
          <div class="herographics">
            <div class="frame-parent16">
              <div class="frame-wrapper">
                <div class="frame-parent17">
                  <div class="rectangle-parent3">
                    <div class="frame-child8"></div>
                    <div class="frame-child9"></div>
                    <div class="frame-child10"></div>
                  </div>
                  <img
                    class="pie-graph-icon"
                    alt=""
                    src="./public/pie-graph.svg"
                  />
                </div>
              </div>
              <img class="frame-child11" alt="" src="./public/group-255.svg" />
            </div>
            <div class="graphsbars-graphic-horizontal-parent">
              <div class="graphsbars-graphic-horizontal">
                <div class="bars-container">
                  <div class="bar">
                    <div class="bar-child"></div>
                    <div class="bar-item"></div>
                    <div class="div4">80%</div>
                  </div>
                  <div class="bar1">
                    <div class="bar-child"></div>
                    <div class="bar-child1"></div>
                    <div class="div5">30%</div>
                  </div>
                  <div class="bar2">
                    <div class="bar-child"></div>
                    <div class="bar-child3"></div>
                    <div class="div6">100%</div>
                  </div>
                  <div class="bar3">
                    <div class="bar-child"></div>
                    <div class="bar-child5"></div>
                    <div class="div7">75%</div>
                  </div>
                </div>
              </div>
              <img class="frame-child12" alt="" src="./public/group-2551.svg" />
            </div>
            <div class="herographics-child"></div>
            <img
              class="herographics-item"
              alt=""
              src="./public/group-286.svg"
            />
          </div>
        </div>
        <div class="logo-parent1">
          <div class="logo6">
            <b class="boldo6">logo</b>
            <div class="logo-shape6">
              <div class="logo-shape-child9"></div>
              <div class="logo-shape-child10"></div>
            </div>
          </div>
          <div class="navigation3">
            <div class="product3">Product</div>
            <div class="product3">Services</div>
            <div class="product3"></div>
            <div class="start-now-wrapper1">
              <b class="start-now10">Log In</b>
            </div>
          </div>
        </div>
      </div>
      <div class="heading13">
        <div class="our-blog13"></div>
        <div class="value-proposition-accelerator13">
          Value proposition accelerator product management venture
        </div>
      </div>
      <div class="service2">
        <div class="rectangle-parent1">
          <img
            class="frame-child13"
            alt=""
            src="./public/rectangle-12709@2x.png"
          />
          <div class="frame-parent11">
            <div class="cool-feature-title-wrapper">
              <div class="cool-feature-title6">book name</div>
            </div>
            <div class="frame-parent12">
              <div class="explore-page-parent">
                <b class="explore-page">Explore page</b
                ><img
                  class="arrow-right-icon"
                  alt=""
                  src="./public/arrowright.svg"
                />
              </div>
              <div class="frame-child5"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-cta3">
        <div class="call-to-action3">
          <div class="call-to-action-child2"></div>
          <img class="mask-group-icon3" alt="" src="./public/mask-group3.svg" />
          <div class="call-to-action-inner2">
            <div class="group-wrapper1">
              <div class="group-wrapper1">
                <div class="an-enterprise-template3">
                  Subscribe to stay in tune!
                </div>
                <div class="group-parent3">
                  <div class="rectangle-parent5">
                    <div class="group-child1"></div>
                    <div class="your-email-address3">Your email address</div>
                  </div>
                  <div class="buttons7"><b class="start-now8">login</b></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer3">
          <div class="footer-child2"></div>
          <div class="logo7">
            <b class="boldo6">pandas</b>
            <div class="logo-shape6">
              <div class="logo-shape-child9"></div>
              <div class="logo-shape-child10"></div>
            </div>
          </div>
          <div class="social-media-validation3"></div>
          <div class="all-rights-reserved3">All rights reserved.</div>
          <div class="footer-inner3">
            <div class="group-wrapper1">
              <div class="home-products-services-container6">
                <span class="home-products-services-container7"
                  ><p class="home6">Home</p>
                  <p class="home6">&nbsp;</p>
                  <p class="home6">Products</p>
                  <p class="home6">&nbsp;</p>
                  <p class="home6">Services</p></span
                >
              </div>
              <b class="landings3">Landings</b>
              <div class="home-careers-services-container6">
                <span class="home-products-services-container7"
                  ><p class="home6">Home</p>
                  <p class="home6">&nbsp;</p>
                  <p class="home6">Careers</p>
                  <p class="home6">&nbsp;</p>
                  <p class="home6">Services</p></span
                >
              </div>
              <b class="company3">Company</b>
              <div class="blog-products-services-container6">
                <span class="home-products-services-container7"
                  ><p class="home6">Blog</p>
                  <p class="home6">&nbsp;</p>
                  <p class="home6">Products</p>
                  <p class="home6">&nbsp;</p>
                  <p class="home6">Services</p></span
                >
              </div>
              <b class="resources3">Resources</b>
            </div>
          </div>
          <div class="hiring-wrapper1"><b class="start-now8">Hiring!</b></div>
        </div>
      </div>
      <div class="article-parent">
        <div class="article6">
          <img
            class="article-child4"
            alt=""
            src="./public/rectangle-12702@2x.png"
          />
          <div class="frame-parent20">
            <div class="frame-parent21">
              <div class="category-parent5">
                <b class="start-now8">Category</b>
                <div class="november-22-20217">November 22, 2021</div>
              </div>
              <div class="seed-round-direct6">
                Pitch termsheet backing validation focus release.
              </div>
            </div>
            <div class="ellipse-parent6">
              <img
                class="frame-child15"
                alt=""
                src="./public/ellipse-10@2x.png"
              />
              <div class="john-doe7">Chandler Bing</div>
            </div>
          </div>
        </div>
        <div class="article7">
          <img
            class="article-child5"
            alt=""
            src="./public/rectangle-12703@2x.png"
          />
          <div class="frame-parent20">
            <div class="frame-parent21">
              <div class="category-parent5">
                <b class="start-now8">Category</b>
                <div class="november-22-20217">November 22, 2021</div>
              </div>
              <div class="seed-round-direct6">
                Seed round direct mailing non-disclosure agreement graphical
                user interface rockstar.
              </div>
            </div>
            <div class="ellipse-parent6">
              <img
                class="frame-child15"
                alt=""
                src="./public/ellipse-101@2x.png"
              />
              <div class="john-doe7">Rachel Green</div>
            </div>
          </div>
        </div>
        <div class="article8">
          <img
            class="article-child5"
            alt=""
            src="./public/rectangle-12704@2x.png"
          />
          <div class="frame-parent20">
            <div class="frame-parent21">
              <div class="category-parent5">
                <b class="start-now8">Category</b>
                <div class="november-22-20217">November 22, 2021</div>
              </div>
              <div class="seed-round-direct6">
                Beta prototype sales iPad gen-z marketing network effects value
                proposition
              </div>
            </div>
            <div class="ellipse-parent6">
              <img
                class="frame-child15"
                alt=""
                src="./public/ellipse-102@2x.png"
              />
              <div class="john-doe7">Monica Geller</div>
            </div>
          </div>
        </div>
      </div>
      <div class="this-is-a1">
        This is a book that will make you happy. Many famous writers recommended
        it. You will read this book laughing, may you have a good mood every
        day.
      </div>
    </div>
  </body>
</html>
